*{
  margin: 0;
  padding: 0;
}
table {
  width: 500px;
  height: 541px;
  columns: 6;
  border: none;
  border-collapse: collapse;
}
td {
  border: 10px solid #000000;
  width: 48px;
  height: 37px;
}
.element1 {
  border-top: none;
  border-left: none;
}
.element2{
	border-top: none;
}
.element3{
	background-color: yellow;
	border-top: 10px solid yellow;
	border-right: none;
}

.element4{
  border-left: none;
}
.element5{
  background-color: red;
  border-bottom:10px solid red;
}
.element6{
  background-color: yellow;
}
.element7{
background-color: red;
}

.element9{
  border-bottom: none;
  border-left: none;
}
.element10{

}
.element11{
  border-left: none;
  border-top: none;

}
.element12{

  background-color: black;
}
.eith{

}
.nine {
}
.element13{


}
.element17{
  background-color: blue;
}
.element15{
  background-color: yellow;
}
.element18{

}
.element19{
  background-color: black;
}

.element6,
.element10,
.element14,
.element15,
.element18,
.element16 {
  border: none;
}
.element17{
  border-right: none;
}
