.banners-bg{
  background: #f7f7f7;
}
.banners{
  float: right;
  position: relative;
  width: 48%;
  .banners-head{
    color: $color-black-text;
    padding-bottom: $pading-vertical;
    font-size: $font-size * 1.5;
    font-family: $font-main;
    text-transform: capitalize;
  }
  .banners-place{}
  .panel-container{}
  .panel-container-element{

    a {
      box-sizing: border-box;
      float: left;
      display: inline-block;
      position: relative;
      // width: 100%;
      // height: 2em;
      line-height: 2em;
      background: #fff;
      border: solid 1px #e8e8e8;
      margin: 0 0 0.5em 0;
      // padding-left: 5%;
      color: $color-black-text;
      display: inline-block;
      width: 100%;
      height: 100%;

      &:before {
        float: left;
        display: inline-block;
        content: '+';
        text-align: center;
        width: 40px;
        height: 100%;
        color: $color-black-text;
        border-right: solid 1px #e8e8e8;
        background: #fff;
        margin: 0 5% 0 0;
      }
      &:hover{
        color: #fff;
        background: #f4b60d;
        border: solid 1px #e8e8e8;
        &:before{
          content: '+';
          color: #fff;
          background: #f4b60d;
            border-right: solid 1px #f7f7f7;
        }
      }
      &:active, &:focus {
        &::before{
          content: '-'
        }
      }
    }
}
  .panel-content {
    p {
      display: none;
    }
  }
  .active-panel-content{
    p{
      display: inline-block;
      padding: 5% 5% 5% 5%;
      color: $color-news;
    }
  }
  .active_panel-container-element{}
}

.partner{
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 4% auto;
}
  
