/* latin */

/*font-family: 'Ubuntu', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

$font-main: 'VT323', monospace;
$color-main: #fff;
$color-highlight: #006165;
$color-shadow-btn: #672a06;
$color-shadow-title: #03393b;

$screen-large: '(max-width: 1600px)';
$screen-medium: '(max-width: 1281px)';
$screen-tablet: '(max-width: 1023px)';
$screen-mobile: '(max-width: 780px)';
$screen-small: '(max-width: 641px)';
$screen-minimal: '(max-width: 479px)';

@mixin clearfix {
  &:after, &:before {
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

body {
  margin: 0;
  background: #099394;
  color: $color-main;
  min-width: 320px;
  font: 16px/1.2 $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section, article, aside, main, nav {
  display: block;
}
input, textarea, button {
  font-family: $font-main;
}
a {
  text-decoration: none;
}
ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
button {
  padding: 0;
}
p, h1, h2, h3, h4, h5, h6  {
  margin: 0;
  font-weight: 400;
}
