/* latin */


/*fonts*/
$font-main: 'Ubuntu', sans-serif;
$font-text:'Arial', sans-serif;
/*color*/
$color-main: #fff;
$color-highlight: #006165;
$color-shadow-btn: #672a06;
$color-shadow-title: #03393b;
$color-active: #248cec;
$color-hover-text: #cc9919;
$color-background-menu: #2a2d32;
$color-fonts-search:#626466;
$color-text-font: #2a2b2e;
$backgroun-services: #2a2d32;
$color-black-text:#2a2d32;
$color-blue-text:#0187f4;
$color-news:#8a8a8a;
$footer-bg:#2a2d32;
$footer-text-hover:#248cec;
/*size*/
$width-comuni-menu:160px;
$pading-vertical:40px;
$height-menu:60px;


/*
font
*/
$font-size:16px;
$font-build:54px;

$quant-social-link:5;
$quant-menu-top-element:5;

$width-main: 1160px;
@mixin clearfix {
  &:after, &:before {
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: $color-text-font;
  min-width: 1160px;
  width: 100%;
  font: 16px/1.2 $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section, article, aside, main, nav {
  display: block;
}
input, textarea, button {
  font-family: $font-main;
}
a {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
ul, ol, dl, menu {
  list-style: none;
  padding: 0;
  margin: 0;
  }
li {
  display: block;
}
* {
  box-sizing: border-box;
}
button {
  padding: 0;
}
p, h1, h2, h3, h4, h5, h6  {
  margin: 0;
  font-weight: 400;
  color: #fff;
}
