/* latin */

/*font-family: 'Ubuntu', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

$font-main: 'Ubuntu', sans-serif;
$font-text:'Open Sans Condensed', sans-serif;
$color-main: #fff;
$color-highlight: #006165;
$color-shadow-btn: #672a06;
$color-shadow-title: #03393b;
$color-active: #248cec;
$color-hover-text: #248cec;
$width-main: 1160px;
@mixin clearfix {
  &:after, &:before {
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: $color-main;
  min-width: 1160px;
  width: 100%;
  font: 16px/1.2 $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section, article, aside, main, nav {
  display: block;
}
input, textarea, button {
  font-family: $font-main;
}
a {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  display: block;
}
* {
  box-sizing: border-box;
}
button {
  padding: 0;
}
p, h1, h2, h3, h4, h5, h6  {
  margin: 0;
  font-weight: 400;
}
