.container {
  width: $width-main;
  @include clearfix;
  margin: 0 auto;
  padding-top: $pading-vertical;
  position: relative;
}
.logo-conteiner{
  position: absolute;
  bottom: 7%;
  left: 3%;
  z-index: 7;
  display: block;
  text-transform: uppercase;
  font-size: $font-build;

  .logo-text{

  }
  .logo-text_yelow{

  }
}
