@import '_global';
@import '_global-class';
@import '_header';
@import '_menu-top';
@import '_fcarusel';
@import '_logo-text';
@import '_ytp';
@import '_services';
@import '_latest-news_baners';
@import '_banners';
@import '_fotter_menu-bottom';
