.container-fluid{
  padding-top: 50px;
}
.row{
  width: 75%;
  margin: 0  auto;
  text-align: center;
  position: relative;
  overflow-y: visible;
  min-width: 500px;
}
.form-control{
  max-width: 350px;
  width:50% ;
}
.form-block{
position: absolute;
top: 2%;
left: 23%;
height: 120px;
display: flex;
flex-flow: column;
justify-content: space-between;
}
.form-help{
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 330px;
  /*height: 100%;*/
  line-height: 130%;
  padding: 1% 2% 1% 1%;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #000;
}



.form-inline label{
  min-width: 150px;
}
.form-inline input{
  max-width: 150px
}
.ul-content-box{
  border: 2px solid #ddd;
  border-radius: 3px;
  height: avto;
  /*! overflow: hidden; */
  background: #eee;
  float: left;
  margin-bottom: -2px;
  /*! position: absolute; */
}
.content-box{
  overflow: visible;
}
.content{
  /*! width: 50%; */
  float: left;
  display: none;
  /*! position: absolute; */
  /*! top: 72%; */
  /*! left: 0%; */
  text-align: left;
  /*! overflow: scroll; */
  border: 2px solid #ddd;
  border-radius: 3px;
  align-content: ;
  clear: left;
}

li{
  list-style-type:none;
}
.link-content{
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  display: block;
}
.link-content:hover{
  text-decoration: none;
  background: #eee;
}
a:focus {
  text-decoration: none;
}
.active
{
  display: block;
}

a.active{
  color: #fff;
  background: #0000FF
}
a.active:hover{
  color: #fff;
  background: #0000FF
}
