@media all and (min-width:960px) {
  .top-layer{
    width: 100%;
    height: 846px;
  }
  .top-layer::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 400px;
    top: 280px;
    background: rgba(0, 0, 0, 0.2);
    /*z-index: 0;*/
  }
  .conteiner{
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
  }

  .logo{
    margin: 0 auto;
    width: 960px;
    padding-top: 71px;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .logo__img{
    float: left;
  }
  .logo-coteiner{
    width: 20%;
    overflow: hidden;
    float: left;
  }
  .topbar{
  width: 80%;
  }
  .menu-site{
    float: right;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 68%;
  }
  .menu-site__element{
    width: 20%;
    text-align: left;
  }

  .active-menu-bottom{
    display: none;
  }
  .menu-site{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: auto;
    width: 84%;
  }
  .menu-link{
    height: auto;
    text-shadow: 1px 1px 2px #000;
  }
  .menu-link:hover{
    border-bottom: 2px solid #edbfff;
  }
  .slider{
    width: 960px;
    margin: 15em auto 1em;
    height: 185px;
    position: relative;
  }
  .slider::before{
    content: '';
    width: 275px;
    height: 435px;
    background: url(../img/ipad.png) no-repeat;
    position: absolute;
    top: -6em;
    right: 7%;
    /*! margin-bottom: 0; */
  }
  .slider-heder{
    font-size: 58px;
    letter-spacing: 0.03em;
  }
  .slider-heder2{
    font-size: 32px;
}
  .hide-block{
    display: inline;
  }
  .slider-text{
    width: 53%;
    color: #fff;
    font-size: 20px;
    padding: 2% 0 0 0;
    position: absolute;
  }
  .slider-icon{
    position: relative;
    top: 21em;
    left: 74%;
    width: 105px;
  }
  .slider-icon__element{
    margin: 0 6% 0% 0%;
  }
  .about{
    /* margin: 8% auto 5%; */
    padding: 0 0 0 4%;
    width: 26%;
    position: relative;
  }
  .about::before{
    content: '';
    width: 31px;
    height: 32px;
    background-image: url(../img/icon__about.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 95%;
    top: 0%;
  }
  .updates__text {
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
    line-height: 21px;
}
  div.cloud::before{
    content: '';
    width: 31px;
    height: 32px;
    background-image: url(../img/icon__about.svg);
    background-repeat: no-repeat;
    background-position: -34px 0;
    position: absolute;
    right: 95%;
    top: 0%;
  }
  div.musik::before{
    content: '';
    width: 31px;
    height: 32px;
    background-image: url(../img/icon__about.svg);
    background-repeat: no-repeat;
    background-position: -66px 0;
    position: absolute;
    right: 95%;
    top: 0%;
  }
  .gradient{
    width: 100%;
    height: 342px;
  }
  .gradient_conteiner{
    max-width: 960px;
     margin: 5em auto 1em;
    display: flex;
    justify-content: space-between;
  }
  .wrapper__white{
    width: 100%;
    display:flex;
    flex-flow: column;
    position: relative;
  }
  .wrapper__white__conteiner{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
  }
  .catefor__footer{
    display: none;
  }
  .mini__slider {
    width: 43%;
    height: 350px;
    background: url(../img/bg-w427-h292.png) no-repeat;
    margin: 6.2em auto 1em;
    padding: 1.8em 0 0 3em;
  }
  .black__text{
    font-size: 16px;
    line-height: 19px;
    width: 98%;
    color: #847f7f;
  }
  .updates{
  width: 50%;
  margin: 6.2em auto;
  padding: 2em 0 0 3em;
  height: auto;
  }
  .text_for__befor__960{
    display: none;
  }
  .updates__element{
    width: 100%;
    margin: 2em 0 0 0;
    padding: 0 0 0 0;
    line-height: 28px;
    height: 24px;
  }
  .black__active__conteiner{
    position: absolute;
    top: 80%;
    left: 20%;
    width: 110px;
  }
  .black__active__buttom{
    margin: 0 6% 0% 0%;
    }
.hide_text{
  display: inline;
}
  .partners{
    max-width: 960px;
    width: 100%;
    margin: 0em auto 0;
    padding: 1em 0px 1em 2em;
    border-bottom: 1px solid #e6e6e6;
  }
  .partners__elemetns{
    height: 60px;
    width: 16%;
    background-position: 5px 1px;
  }
  .wrapper__gray{
    display: block;
    width: 100%;
    background: #ececec;
  }
  .wrapper__gray_container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 11% 0 7% 0;
    justify-content: space-around;
  }
  .comment__categor{
    width: 30%;
    margin-right: 5%;
  }
  .gray__element__heder{
    color: #b9b9b9;
  }
  .copyright__text__gray{
    font-size: 16px;
    color: #c5c5c5;
    font-style: italic;
    line-height: 32px;
  }
  .gray{
    color: #787878;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.06em;
  }
  .copyright{
    width: 100%;
    height: 113px;
  }
  .copyright__conteiner{
    max-width: 960px;
    width: 100%;
    margin: 0% auto;
  }
  .footer__menu{
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: nowrap; */
    /* padding-right: 23px; */
    margin-top: 4%;
    flex-flow: row;
    width: 61%;
    float: left;
  }
  .footer__link{

font-size: 20px;

}
.copyright__text{padding: 48px 0 0 0;text-align: right;font-size: 12px;}
}
