body {
  width: auto;
  background-image: url(../img/bg.jpg);
}
/*div.container:before {
  margin: 0 auto;
  width: 1065px;
  background-color: #09a709;
}*/
.container {
  padding: 50px;
  margin: 0 auto;
  width: 960px;
  height: 840px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #c4c8c4;
}
/*header*/
header {
    height: 120px;
  width: 965px;
}
.logo {
  /*padding-top: 47px;*/
  margin-bottom: 40px;
}
.topbar {
  height: 40px;
  display: block;
  margin: 0 auto;
  background-image: url(../img/container.jpg);
}
.head {
  display: block;

  margin:0 auto;
}
li.botm:first-child{
  padding-left: 24px;
  padding-right: 64px;
}
li.botm:nth-child(2){
  padding-left: 25px;
  padding-right: 25px;
}
li.botm:nth-child(3){
  padding-left: 25px;
  padding-right: 25px;
}
li.botm:last-child{
  padding-left: 25px;
  padding-right: 25px;
}

  li.botm {
  display: inline-block;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 1px #444444;
  font-size: 11pt;
}
li.botm a {
font-family: 'Open Sans', sans-serif;
color: #ffffff;
text-shadow: 1px 1px 1px #444444;
font-size: 11pt;
text-decoration: none;
}
li.botm:hover{
  height: 40px;
  width: auto;
  background-color: #3c3c3c;
  box-shadow: 0 0 2px #c4c8c4;
}
.containerbox{
  margin-top:40px;
  width: 970px;
  display: inline-flex;
}
/*left menu*/
.leftmen {
  float: left;
  height: inherit;
  }
  ul.menu {
    display: block;
    margin-top: 29px;
    margin:0 auto;
  }
  ul.menu>li {
    display: block;
    height: 40px;
    width: 240px;
    padding-left: 24px;
    line-height: 40px;
    box-sizing: border-box;
    border-top: solid 1px #c8c8c8;
    border-left: solid 1px #c8c8c8;
    border-right: solid 1px #c8c8c8;
    /*background-image: url(../img/bgleftm.jpg);*/

  }
  .lastbox{
      border-bottom: solid 1px #c8c8c8;
  }
  ul.menu>li>a
  {
    font-family: 'Open Sans', sans-serif;
    color: #656363;
    font-size: 11pt;
    text-decoration: none;
  }
  ul.menu>li:hover {
    background-image: url(../img/hoverleftmenu.jpg);
    padding-left: 37px;
    }
  /*content*/
  .content {
    padding-left: 45px;
    width: 678px;
    height: auto;
    float: right;
    display: block;
  }
.boxt{
  margin: 40px 0px 0px 25px
}
div.boxt>p {
  color: #2c2c2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  line-height: 21px;
}
/*footer*/

/*footer {
  margin: 50px;
  height: 40px;
  display: block;
  margin: 0 auto;
  background-image: url(../img/footer.jpg);
  display: block;
}*/
.footer {
  width: 965px;
  margin-top: 60px;
  display: block;
  background-image: url(../img/footer.jpg);
  }
li.bot:first-child{
  padding-left: 24px;
  padding-right: 64px;
}
li.bot:nth-child(2){
  padding-left: 25px;
  padding-right: 25px;
}
li.bot:nth-child(4){
  padding-left: 25px;
  }
li.bot:last-child{
  /*margin-right: ;*/
  float: right;
  padding-left: 25px;
  padding-right: 25px;
}

  li.bot {
  display: inline-block;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #2c2c2c;
  text-shadow: 1px 1px 1px #444444;
  font-size: 11pt;
}
li.bot a {
font-family: 'Open Sans', sans-serif;
color: #ffffff;
text-shadow: 1px 1px 1px #444444;
font-size: 11pt;
text-decoration: none;
}
li.bot:hover{
  height: 40px;
  width: auto;
text-decoration:underline;
}
