*{
  // box-sizing: border-box;
}
body {
  width: 100%;
  min-width: 320px;

}
h1, h2, h3, h4, h4, h5{
  letter-spacing: 0.1em;
  font-family: $font-familyH;
  text-align: center;
  display: inline-block;
}
.container, .wrapper{
  width: 100%;
  height: auto;
  min-width: 320px;
}
.btn{
  text-align: center;
  height: $fontsizeH*1.5;
  color: $colorFont;
  display: inline-block;
  text-decoration: none;
  line-height: $fontsizeH*1.3;
  font-size: $fontsizeH/2;
  font-family: $font-familyH;
  box-sizing: border-box;
  position: relative;
  &:hover::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #fff;
    border-radius: 20px 20px;
    height: $fontsizeH*1.3-2px;
  }
}
.top-wrapper{
  background: url(../img/bg-image-first.jpg) 50% 0 no-repeat;
  height: 700px;
  color: $colorFont;
  width: 100%;
  text-align: center;
  form{
    position: relative;
    margin: 0 auto 0;
    width: 50%;
    padding: 2em 0 0 0;
    text-align: center;
    height: 60px;
    .login, .sign {
      width: 90px;
    }
  }

  h4{
    width: 100%;
    font-family: $font-familyH;
    font-size: $fontsizeH*0.67;
  }
  h1{
    text-transform: uppercase;
    width: 100%;
    font-size: $fontsizeH;
  }
  h6{
    width: 80%;
    font-family: $font-familyP;
    font-size: $fontsizeH*0.6;
    line-height:  $fontsizeH;
  }
  .find{
    width: 280px;
    border: 2px solid #ff4e50;
    border-radius: 20px 20px;

    &:hover{
      background: #ff4e50;
    }
    &:hover::before{
      display: none;
    }
  }
}

.wrapper, .ideas-form{
  display: none;
}
