@mixin icon-image($spriteIcon){
  @include sprite($spriteIcon);
}

*{
  // box-sizing: border-box;
}
body {
  width: 100%;
  min-width: 320px;

}
h1, h2, h3, h4, h4, h5{
  letter-spacing: 0.1em;
  font-family: $font-familyH;
  text-align: center;
  display: inline-block;
}
p{
  font-family: $font-familyP;
}

.container, .wrapper{
  width: 100%;
  height: auto;
  min-width: 320px;
}
.btn{
  text-align: center;
  height: $fontsizeH*1.5;
  color: $colorFont;
  display: inline-block;
  text-decoration: none;
  line-height: $fontsizeH*1.3;
  font-size: $fontsizeH/2;
  font-family: $font-familyH;
  box-sizing: border-box;
  position: relative;
  &:hover::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #fff;
    border-radius: 20px 20px;
    height: $fontsizeH*1.3-2px;
  }
}
.top-wrapper{
  background: url(../img/bg-image-first.jpg) 50% 0 no-repeat;
  height: 700px;
  color: $colorFont;
  width: 100%;
  text-align: center;
  form{
    position: relative;
    margin: 0 auto 0;
    width: 50%;
    padding: 2em 0 0 0;
    text-align: center;
    height: 60px;
    .login, .sign {
      width: 90px;
    }
  }

  h4{
    width: 100%;
    font-family: $font-familyH;
    font-size: $fontsizeH*0.67;
  }
  h1{
    text-transform: uppercase;
    width: 100%;
    font-size: $fontsizeH;
  }
  h6{
    width: 100%;
    font-family: $font-familyP;
    font-size: $fontsizeH*0.6;
    line-height:  $fontsizeH;
  }
  .find{
    width: 280px;
    border: 2px solid #ff4e50;
    border-radius: 20px 20px;

    &:hover{
      background: #ff4e50;
    }
    &:hover::before{
      display: none;
    }
  }
}


.wrapper, .ideas-form{
  // display: none;
}

.partner{
  text-align: center;
  .header-partner{
    font-size: 20px;
    font-family: $font-familyH;
    letter-spacing: 0.2em;
  }

  .conteiner-partner{
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .tv, .alhimia, .tea, .fly{
    position: relative;
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      width: 33px;
      height: 33px;
      bottom: 0;
      right: 50%;
      margin: 0 -70px 0 0;
      border-radius: 33px;
      border: 5px solid #fff;
      z-index: 1;
    }
    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      width: 33px;
      height: 33px;
      z-index: 2;
      bottom: 15px;
      right: 50%;
      margin: 0 -56px 0 0;
    }
  }

  .tv{
    &::after{
      background: #ff4e50;
    }
    &::before{
      @include icon-image($icon-tv);
    }
  }

  .alhimia{
    &::after{
      background: #ffa507;
    }
    &::before{
      @include icon-image($icon-butel);
    }
  }
  .tea{
    &::after{
      background: #1cd7ad;
    }
    &::before{
      @include icon-image($icon-tea);
    }
  }
  .fly{
    &::after{
      background: #4e73db;
    }
    &::before{
      @include icon-image($icon-air-plane);
    }
  }
  .photo-partner{
    position: relative;
    border-radius: 120px;
  }
  .name{
    width: 100%;
  }
}
.partner-search{
  color: #ff4e50;
  width: 15em;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  &:hover{
    background: #ff4e50;
    color: #fff;
    border: 2px solid #ff4e50;
    &::before{
      display: none;
    }
  }
}

.ideas{
  text-align: center;
  border-radius: 20px;
  a{
    width: 15em;
    color: #ff4e50;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    &:hover{
      background: #ff4e50;
      color: #fff;

      &::before{
        display: none;
      }
    }
  }
}

.ideas-input-form{
  width: 80%;
  padding: 0 0 0 4%;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #cccccc;
}
footer{
  border-top: 4px solid #ff4e50;
  font-family: $font-familyH;
  margin: 3em auto;
  .container-footer{

    width: 100%;
    text-align: center;
  }
  .name-company{
    color: #ff4e50;
    font-size: 16px;
    font-family: $font-familyH;
  }
  li{

    float: left;
    width: 17%;
    font-family: $font-familyP;
  }
  ul{
    -webkit-padding-start: 0;
    overflow: hidden;
    height: auto;
  }
  .partners, .desinger{
    clear: both;
    margin: 1em 0 0 0;
  }
  .desinger{
    color: #ccc;
    span{
      display: inline-block;
      @include sprite($icon-logo-desinger)
    }
  }
}
