$widthMobile:320px;
$widthTab:768px;
$widthDesktop:940px;
//mobile
$fontsizeH:30px;
//table
$fontsizeH-table:52px;

$colorFont:#fff;

$font-familyH: 'Montserrat', sans-serif;
$font-familyP: 'Roboto', sans-serif;


$sliderWidthTablet:235px;
$sliderWidthDestop:300px;
