@media all and (min-width:960px) {
  .top__laer{
    width: 100%;
    height: 846px;
  }
  .top__laer_conteiner{
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
  }
  .background__grey__slider{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 280px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
  .logo{
    margin: 0 auto;
    width: 960px;
    padding-top: 71px;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .logo__img{
    float: left;
  }
  .logO_coteiner{
    width: 20%;
    overflow: hidden;
    float: left;
  }
  .topbar{
  width: 80%;
  }
  .menu__site{
    float: right;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 68%;
  }
  .menu__site__element{
    width: 20%;
    text-align: left;
  }

  .active__menu_bottom{
    display: none;
  }
  .menu__site{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: auto;
    width: 84%;
  }
  .menu__link{
    height: auto;
    text-shadow: 1px 1px 2px #000;
  }
  .menu__link:hover{
    border-bottom: 2px solid #edbfff;
  }
  .slider{
    width: 960px;
    margin: 25% auto;
    height: auto;
    position: relative;
  }
  .slider::after{
    content: '';
    width: 275px;
    height: 435px;
    background: url(../img/ipad.png) no-repeat;
    position: absolute;
    top: -82%;
    right: 7%;
    margin-bottom: -26px;
  }
  .slider__heder{
    font-size: 58px;
    letter-spacing: 0.03em;
  }
  .slider__heder2{
    font-size: 32px;
}
  .hide_block{
    display: inline;
  }
  .slider__text{
    width: 53%;
    color: #fff;
    font-size: 23px;
    padding: 2% 0 0 0;
    position: absolute;
  }
  .slider_icon{
    position: relative;
    top: 328px;
    left: 74%;
    width: 100px;
  }
  .slider_icon__element{
    margin: 0 6% 0% 0%;
  }
  .about{
    margin: 8% auto 5%;
    padding: 0 0 0 4%;
    width: 30%;
    position: relative;
  }
  .about::before{
    content: '';
    width: 31px;
    height: 32px;
    background-image: url(../img/icon__about.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 95%;
    top: 0%;
  }
  .updates__text {
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
}
  div.cloud::before{
    content: '';
    width: 31px;
    height: 32px;
    background-image: url(../img/icon__about.svg);
    background-repeat: no-repeat;
    background-position: -34px 0;
    position: absolute;
    right: 95%;
    top: 0%;
  }
  div.musik::before{
    content: '';
    width: 31px;
    height: 32px;
    background-image: url(../img/icon__about.svg);
    background-repeat: no-repeat;
    background-position: -66px 0;
    position: absolute;
    right: 95%;
    top: 0%;
  }
  .gradient{
    width: 100%;
    height: 342px;
  }
  .gradient_conteiner{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .wrapper__white{
    width: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
  }
  .wrapper__white__conteiner{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
  }
  .catefor__footer{
    display: none;
  }
  .mini__slider {
    width: 46%;
    height: 350px;
    background: url(../img/bg-w427-h292.png) no-repeat;
    margin: 11% 0 0 1%;
    padding: 1% 0 0 4%;
  }
  .black__text{
    font-size: 13px;
    line-height: 25px;
    width: 98%;
  }
  .updates{
  width: 50%;
  margin: 12% auto;
  padding: 0 0 0 0;
  height: auto;
  }
  .text_for__befor__960{
    display: none;
  }
  .updates__element{
    width: 100%;
    margin: 0% 0 0 0;
    padding: 0 0 0 0;
    line-height: 28px;
  }
  .black__active__conteiner{
    position: absolute;
    top: 83%;
    left: 20%;
    width: 100px;
  }
  .black__active__buttom{
    margin: 0 6% 0% 0%;
    }
.hide_text{
  display: inline;
}
  .partners{
    max-width: 960px;
    width: 100%;
    margin: 2% auto 0%;
    padding: 2% 0px 2% 5%;
    border-bottom: 1px solid #e6e6e6;
  }
  .partners__elemetns{
    height: 60px;
    width: 16%;
    background-position: 5px 1px;
  }
  .wrapper__gray{
    display: block;
    width: 100%;
    background: #ececec;
  }
  .wrapper__gray_container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 11% 0 7% 0;
    justify-content: space-around;
  }
  .comment__categor{
    width: 30%;
    margin-right: 5%;
  }
  .gray__element__heder{
    color: #b9b9b9;
  }
  .copyright__text__gray{
    font-size: 16px;
    color: #c5c5c5;
    font-style: italic;
    line-height: 32px;
  }
  .gray{
    color: #787878;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.06em;
  }
  .copyright{
    width: 100%;
    height: 113px;
  }
  .copyright__conteiner{
    max-width: 960px;
    width: 100%;
    margin: 0% auto;
  }
  .footer__menu{
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: nowrap; */
    /* padding-right: 23px; */
    margin-top: 4%;
    flex-flow: row;
    width: 61%;
    float: left;
  }
  .footer__link{
font-size: 20px;
}
.copyright__text{padding: 48px 0 0 0;text-align: right;font-size: 12px;}
}
