@media all and (max-width:479px){
    .top__laer{
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .logo{
      margin: 0 50% 0 50%;
      display: block;
      flex-wrap: wrap-reverse;
    }
    .logo__img{
      margin-top: 46%;
      margin-bottom: 19%;
    }
    .topbar{
      text-align: center;
      position: relative;
    }
    .active__menu_bottom{
      border-bottom: solid 1px #edbfff;
      margin: 0 0 10% 0;
    }
    .active__menu{
      display:none;
      position: absolute;
      top: 0;
      margin: -1px 0 0 -47px;
      width: 247px;
      background: rgba(67,54,74,0.9);
      border: solid 1px #111b22;
      border-radius: 15px;
    }
    .hover__buttom{
      border-top: solid 1px #5f486a;
      border-bottom: solid 1px #36283e;
      width: 97%;
    }
    a.active__menu_bottom:hover+ul.active__menu,
    a.active__menu_bottom:active+ul.active__menu,
    a.active__menu_bottom:focus+ul.active__menu
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    .slider{
      margin-top: 39%;
      text-align: center;
    }
    .slider__heder{
      text-align: center;
      margin: 0 auto;
    }
    .slider__text{
      display: none;
    }
  .slider_icon{
    display: flex;
    justify-content: center;
    margin-top: 37%;
    margin-bottom: 33%;
  }
  .gradient{
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: center;
    padding-top: 23%;
    padding-bottom: 20%;
  }
  .about{
    margin: 0 auto;
    max-width: 215px;
    width: 65%;
    margin-left: 26%;
    margin-bottom: 5%;
    position: relative;
  }
  .about::before{
    content: '';
    width: 31px;
    height: 32px;
    background-image: url(../img/icon__about.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 112%;
    top: 0%;
  }
  .hide__read__more{
    display: none;
  }
  .black__text__element{
    display: none;
  }
  .black__active__conteiner{
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 14%;
  }
  li.black__active__buttom{
    margin: 1% 1% 1% 1%;
    background: #fff;
    border: solid 1px #8b8b8b;
    position: relative;
  }
    li.black__active__buttom_active::after{
    content: '';
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 11px;
    margin-right: 0%;
    display: flex;
    position: absolute;
    top: 10%;
    right: 10%;
  }
  .partners__elemetns{
    width: 21%;
    height: 68px;
    margin: 7% 8% 11% 13%;
  }
  .copyright{
    padding: 12% 1% 1% 1%;
    height: 201px;
  }
  .copyright__text{
    font-family: 'Open Sans';
    font-size: 12px;
  }
}
