.row {
  width: 50%;
  margin: 0 auto;
}
input[type="radio"]{
  float: left;
  margin-right: 5px;
}

/*modal CSS*/
.f-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(223, 217, 217, 0.55);
  /* opacity: 0.6; */
  overflow: hidden;
  top: 0;
  left: 0;
}
.fade{

}

.f-modal-dialog{
  position: fixed;
  width: 300px;
  max-height: 500px;
  min-height: 150px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -50px;
  /* opacity: 14; */
  background: #fff;
  border: 2px solid #000;
  border-radius: 2%;
  box-shadow: 0px 1px 6px #000;
  z-index: 2;
  padding: 1%;
}
.f-modal-header{
  height: 33%;
  text-align: center;
}
.f-modal-header-text{
font: normal 24px sans-serif;
color: #000000;
}

.f-modal-body{
  height: 33%;
  text-align: center;
}
.f-modal-content{
text-align: center;
font: normal 16px sans-serif;
color: #000000;
}
.f-modal-footer{
  height: 33%;
  text-align: center;
}
.f-modal-button-prev{
font: normal 16px sans-serif;
color: #000000;
}
