
header, nav, section, article, aside, footer {

   display:block;

}
li{
  list-style: none;
}
@font-face {
  font-family:  'League Gothic';
  src: url(../fonts/leaguegothic-regular-webfont.eot);
}
h1, h2, h3, h4, h5, h6{
  font-family: 'League Gothic', sans-serif;
  word-wrap: break-word;
}
p{
  font-family: 'open sans', sans-serif;
  word-wrap: break-word;
  font-size: 16px;
}
div.top-layer{
  background: url(../img/backgroun__top.jpg) 50% 0% no-repeat;
}
.hover-img-ie {
  margin-left: -50px;
  // height: inherit;
}
.top-layer{
  width: 100%;
  height: 846px;
}
.top-layer::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
  top: 280px;
  background: rgba(0, 0, 0, 0.2);
  /*z-index: 0;*/
}
div.conteiner{
  max-width: 960px;
  width: 100%;
  /*display: flex;*/
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
}

.logo{
  margin: 0 auto;
  width: 960px;
  padding-top: 71px;
  height: auto;
  overflow: hidden;
  position: relative;
  /*display: flex;*/
  justify-content: space-between;
}
.logo__img{
  float: left;
}
.logo-coteiner{
  width: 20%;
  overflow: hidden;
  float: left;
  margin: 15px 0 0 0;
}
.topbar{
width: 80%;
float: right;
}
.menu-site{
  float: right;
  /*display: flex;*/
  flex-flow: row;
  justify-content: flex-end;
  width: 68%;
}
.menu-site__element{
  list-style: none;
  width: 16%;
  text-align: left;
  float: left;
}

.active-menu-bottom{
  display: none;
}
.menu-site{
  /*display: flex;*/
  flex-wrap: nowrap;
  position: relative;
  height: auto;
  width: 97%;

}
.menu-link{
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  height: auto;
  text-shadow: 1px 1px 2px #000;
  font-size: 24px;
  line-height: 30px;
  font-family: League Gothic, sans-serif;
}
.menu-link:hover{
  border-bottom: 2px solid #edbfff;
}
.slider{
  width: 960px;
  margin: 15em auto 1em;
  height: 185px;
  position: relative;
}
.slider::before{
  content: '';
  width: 275px;
  height: 435px;
  background: url(../img/ipad.png) no-repeat;
  position: absolute;
  top: -6em;
  right: 7%;
  /*! margin-bottom: 0; */
}
.slider-heder{
  font-size: 58px;
  letter-spacing: 0.03em;
}
.slider-heder2{
  font-size: 32px;
}
.hide-block{
  display: inline;
}
.slider-text{
  width: 53%;
  color: #fff;
  font-size: 20px;
  padding: 2% 0 0 0;
  position: absolute;
}
.slider-icon{
  position: relative;
  top: 14em;
  left: 74%;
  width: 105px;
  height: auto;
  overflow: hidden;
}

.slider-icon__element{
  float: left;
  background: url(../img/slider-icon_ie.png) 0 0 no-repeat;
  margin: 0 6% 0% 0%;
}
.slider-link{
  display: inline-block;
  width: 15px;
  height: 15px;
}
.active-slider-icon::after{
  content: '';
  width: 15px  ;
  height: 20px;
  border-radius: 7px;
  position: absolute;
  display: inline-block;
  background: #fff;
  margin: -3px 0 0 0;
  background: url(../img/slider-icon-active_ie.png)  0 0 no-repeat;

  // behavior: url(../files/pie/PIE.htc);
}
.about {
    color: #fff;
    overflow: hidden;
    margin: 8% auto 5%;
    padding: 0 0 0 10%;
    width: 20%;
    position: relative;
    float: left;
    height: 190px;
}

.about::before{
  content: '';
  display: inline-block;
  width: 31px;
  height: 32px;
  background-image: url(../img/icon__about.svg) 0 0 no-repeat;
  position: absolute;
}
.updates-text {
  font-size: 12px;
  width: 100%;
  margin: 0 auto;
  line-height: 21px;
  padding: 0 0 0 52px;
}
.about {

  .hover-img-ie {
      position: absolute;
      margin: 0;
      display: inline-block;
      width: 15px;
      height: 15px;
      left: 37px;
      top: 18px;
  }
}
div.cloud::before{
  content: '';
  width: 31px;
  height: 32px;
  background-image: url(../img/icon__about.svg);
  background-repeat: no-repeat;
  background-position: -34px 0;
  position: absolute;
  right: 95%;
  top: 0%;
}
div.musik::before{
  content: '';
  width: 31px;
  height: 32px;
  background-image: url(../img/icon__about.svg);
  background-repeat: no-repeat;
  background-position: -66px 0;
  position: absolute;
  right: 95%;
  top: 0%;
}
.gradient{
  width: 100%;
  height: 342px;
  background: #745083;
}
.gradient-conteiner{
  max-width: 960px;
   margin: 0em auto 0;
  /*display: flex;*/
  justify-content: space-between;
  /*! overflow-x: auto; */
}
.wrapper-white{
  width: 100%;
  display:flex;
  flex-flow: column;
  position: relative;
  background: #f9f9f9;
}
.wrapper-white__conteiner{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 0 2em;
  /*display: flex;*/
  /*! flex-wrap: wrap; */
  /*! flex-flow: row; */
}
.categer-for-footer{
  display: none;
}
.mini-slider {
  position: relative;
  overflow: visible;
  z-index: 2;
  width: 43%;
  height: 350px;
  background: url(../img/bg-w427-h292.png) no-repeat;
  margin: 5em auto 0;
  padding: 0 0 0 3em;
  float: left;
}

.black-text {
  font-size: 16px;
  line-height: 19px;
  width: 80%;
  color: #847f7f;
}

.updates {
  width: 45%;
  margin: 2em auto;
  padding: 2em 0 0 3em;
  height: auto;
  float: right;
}

.text_for__befor__960{
  display: none;
}
.updates-element{
  position: relative;
  width: 100%;
  margin: 2em 0 0 0;
  padding: 0 0 0 0;
  line-height: 28px;
  height: 24px;
}
.updates-element::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../img/receant-up-icon.png) 0 0 no-repeat;
}
.black-active-conteiner{
  position: absolute;
  top: 84%;
  left: 20%;
  width: 110px;
  display: none;
}
.black-active-buttom{
  margin: 0 6% 0% 0%;
  }
.hide-text{
display: inline;
}
.partners{
  overflow: hidden;
  max-width: 960px;
  width: 100%;
  margin: 3em auto 0;
  padding: 3em 0px 0em 0em;
  border-bottom: 1px solid #e6e6e6;
}
.partners__elemetns{
  height: 60px;
  width: 16%;
  background-position: 5px 1px;
  float: left;
}
.wrapper-gray{
  display: block;
  width: 100%;
  background: #ececec;
  overflow: hidden;
}
.mini-slider{
  .hover-img-ie{
    position: absolute;
    top: 0px;
    left: 32px;
    z-index: 10;
  }
}

.wrapper-gray_container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  /*display: flex;*/
  padding: 5% 0 7% 0;
  justify-content: space-around;
  height: auto;
  overflow-x: auto;
}
.comment-categor{
  width: 30%;
  margin-right: 2%;
  float: left;
}
.gray-element-heder{
  color: #b9b9b9;
}
.copyright-text-gray{
  font-size: 16px;
  color: #c5c5c5;
  font-style: italic;
  line-height: 32px;
}
.gray{
  color: #787878;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.06em;
}
.copyright{
  width: 100%;
  height: 113px;
}
.copyright__conteiner{
  max-width: 960px;
  width: 100%;
  margin: 0% auto;
  padding-top: 2em;
}
.footer__menu{
  /* /*display: flex;*/
  /* justify-content: space-between; */
  /* flex-wrap: nowrap; */
  /* padding-right: 23px; */
  margin-top: 4%;
  flex-flow: row;
  width: 61%;
  float: left;
}
.footer__link{

font-size: 20px;

}
.copyright__text{
padding: 48px 0 0 0;text-align: right;font-size: 12px;
}
